.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #fcdada;
  background-image: url("https://us.123rf.com/450wm/sevennew/sevennew1702/sevennew170200005/71856142-lichte-kleur-houtnerf-tafelblad-achtergrondfoto.jpg?ver=6");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #5c969e;
}

p {
  font-size: 3rem;
  color: #5c969e;

  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
